@use './variables.scss' as *;

.button {
  cursor: pointer;
  box-sizing: border-box;
  text-transform: uppercase;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  text-align: center;
  font-size: 1.5em;
  line-height: 1.5em;
  color: $primary;
  background-color: $secondary;
  transition: all 0.2s ease-in;
  box-shadow: 0 1px 3px 0px $primary;
  height: 60px;

  &:hover {
    transform: scale(90%);
  }
}

.button-menu {
  width: 100%;
  color: #4185f0;

  &:hover {
    transform: scale(90%);
    background-color: lighten(#4185f0, 20%);
    color: $secondary;
  }
}

.button-danger,
.button-warning,
.button-success {
  min-width: 60px;
  height: 60px;
  color: $secondary;
  svg {
    fill: $secondary;
  }
}

.button-danger {
  background-color: $danger-primary;
  box-shadow: inset 0 0 0 5px lighten($danger-primary, 20%);
  &:hover {
    background-color: darken($danger-primary, 20%);
  }
}

.button-success {
  background-color: $success-primary;
  box-shadow: inset 0 0 0 5px lighten($success-primary, 20%);
  &:hover {
    background-color: darken($success-primary, 20%);
  }
}
.button-warning {
  background-color: $warning-primary;
  box-shadow: inset 0 0 0 5px lighten($warning-primary, 20%);

  &:hover {
    background-color: darken($warning-primary, 20%);
  }
}
