@use './variables.scss' as *;

.question-game-screen {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.categories {
  width: 100%;
  display: block;
}

.hide {
 @media (max-width: 768px) {
   display: none;
 }
}

.categories__item {
  width: 100%;
  box-sizing: border-box;
  min-height: 65px;
  border-radius: 20px;
  box-shadow: 0 1px 3px 0px $primary;
  padding: 15px 20px;
  background-color: $secondary;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  flex-wrap: wrap;
  gap: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  h2 {
    font-size: 1.4rem;
    font-weight: bold;
    width: 50%;
  }

}

.points__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.points__item {
  width: fit-content;
  border: 1px solid #5E5B52;
  border-radius: 10px;
  padding: 3px;
  line-height: 30px;
  font-size: 1.4rem;
  cursor: pointer;

  &:hover {
    background-color: $warning-primary;
    color: $secondary;
  }
}
