.teams__list {

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 15px;
  }
}
