//Gradients
$BGGradient: linear-gradient(15deg, #5771eb 0%, #3193f4 74%);

//Colors
$primary: #4e5057;
$secondary: #ffffff;
$danger-primary: #FC7A57;
$success-primary: #44be44;
$warning-primary: #ebc25e;
$disable-primary: #A6A7AB;
$blue-primary: #20A4F3;
$accent-primary: #2EC4B6;
